.DS_Store
**/*.sublime-workspace
Sublime Text/Packages/User/OverrideAudit.status
Sublime Text/Packages/User/ApplySyntax.ext-list
**/*.zwc
**/*.elc
**/*.pyc
.local/share/tmux/resurrect/*
Sublime Text/Packages/User/sftp/*.sublime-color-scheme
Sublime Text/Packages/User/Terminus/Terminus.hidden-color-scheme
**/CLAUDE.md
Sublime Text/Packages/User/GitSavvy/*
/.agent-shell/
**/.dir-locals.el
