Sublime[[:space:]]Text/Packages/User/Preferences.sublime-settings filter=ignore-dictionary-key
Sublime[[:space:]]Text/Packages/User/LSP-ltex-ls.sublime-settings filter=ignore-ltex_language-key
.config/gemini/settings.json filter=gemini-theme
.config/claude/settings.json filter=claude-theme
.config/yazi/theme.toml filter=yazi-theme
.config/btop/btop.conf filter=btop-theme
.config/zsh-patina/config.toml filter=patina-theme
ipython/profile_default/ipython_config.py filter=ipython-theme
Library/LaunchAgents/com.alberti42.typingmind_mcp.plist filter=typingmind_mcp diff
Sublime[[:space:]]Merge/Packages/User/Diff.sublime-settings filter=sublime-merge-draw-white-space
Sublime[[:space:]]Merge/Packages/User/Preferences.sublime-settings filter=sublime-merge-ignore-diff-white-space
