[submodule "oh-my-zsh/custom/plugins/zsh-misc-completions"]
	path = oh-my-zsh/custom/plugins/zsh-misc-completions
	url = git@github.com:alberti42/zsh-misc-completions.git
	branch = main
[submodule "oh-my-zsh/custom/plugins/tmux-ssh-syncing"]
	path = oh-my-zsh/custom/plugins/tmux-ssh-syncing
	url = git@github.com:alberti42/tmux-ssh-syncing.git
	branch = main
[submodule "Sublime Text/Packages/Recent Files Tracker"]
	path = Sublime Text/Packages/Recent Files Tracker
	url = https://github.com/alberti42/sublime-recent-files-tracker
[submodule "Sublime Text/Packages/VirtualenvSelector"]
	path = Sublime Text/Packages/VirtualenvSelector
	url = git@github.com:alberti42/sublime-virtualenv-selector.git
[submodule ".config/yazi/plugins/bat.yazi"]
	path = .config/yazi/plugins/bat.yazi
	url = https://github.com/mgumz/yazi-plugin-bat.git
[submodule ".config/yazi/flavors"]
	path = .config/yazi/flavors
	url = https://github.com/yazi-rs/flavors
[submodule "Sublime Text/Packages/Dictionaries"]
	path = Sublime Text/Packages/Dictionaries
	url = https://github.com/titoBouzout/Dictionaries.git
[submodule ".config/yazi/plugins/fazif.yazi"]
	path = .config/yazi/plugins/fazif.yazi
	url = git@github.com:alberti42/fork-fazif.yazi.git
[submodule ".config/eza/eza-themes"]
	path = .config/eza/eza-themes
	url = https://github.com/eza-community/eza-themes.git
[submodule ".config/yazi/plugins/command.yazi"]
	path = .config/yazi/plugins/command.yazi
	url = https://github.com/KKV9/command.yazi.git
[submodule "zinit/src/annexes/zinit-annex-latest-release"]
	path = zinit/src/annexes/zinit-annex-latest-release
	url = https://github.com/alberti42/zinit-annex-latest-release.git
[submodule ".config/yazi/plugins/faster-piper"]
	path = .config/yazi/plugins/faster-piper
	url = git@github.com:alberti42/faster-piper.yazi.git
[submodule ".config/yazi/plugins/faster-piper.yazi"]
	path = .config/yazi/plugins/faster-piper.yazi
	url = git@github.com:alberti42/faster-piper.yazi.git
[submodule ".local/share/EXIF-Syntax"]
	path = .local/share/EXIF-Syntax
	url = git@github.com:alberti42/EXIF-Syntax.git
[submodule "oh-my-zsh/custom/plugins/zsh-opencode-tab"]
	path = oh-my-zsh/custom/plugins/zsh-opencode-tab
	url = git@github.com:alberti42/zsh-opencode-tab.git
[submodule "oh-my-zsh/custom/plugins/zsh-indent-control"]
	path = oh-my-zsh/custom/plugins/zsh-indent-control
	url = git@github.com:alberti42/zsh-indent-control
[submodule "oh-my-zsh/custom/plugins/zsh-appearance-control"]
	path = oh-my-zsh/custom/plugins/zsh-appearance-control
	url = git@github.com:alberti42/zsh-appearance-control.git
