<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>uuid</key>
		<string>CB78A194-07C8-4FD7-AE1E-3CBCFDE2BC4B</string>
	</dict>
	<dict>
		<key>uuid</key>
		<string>73B613A0-52ED-40C4-B5E5-7447A29A6209</string>
	</dict>
</array>
</plist>
