<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>enabled</key>
		<true/>
		<key>executable</key>
		<false/>
		<key>filePath</key>
		<string>TextFile.txt</string>
		<key>prefix</key>
		<string>New Text File</string>
		<key>suffix</key>
		<string>txt</string>
		<key>title</key>
		<string>Text File</string>
		<key>uuid</key>
		<string>7747A788-8904-4D27-9D0F-37C44C5453CD</string>
	</dict>
	<dict>
		<key>enabled</key>
		<true/>
		<key>executable</key>
		<false/>
		<key>filePath</key>
		<string>TextFile.md</string>
		<key>prefix</key>
		<string>New MarkDown File</string>
		<key>suffix</key>
		<string>md</string>
		<key>title</key>
		<string>Markdown</string>
		<key>uuid</key>
		<string>8A45553E-0BFF-47CD-84A6-5EC9903B98A3</string>
	</dict>
	<dict>
		<key>enabled</key>
		<true/>
		<key>executable</key>
		<false/>
		<key>filePath</key>
		<string>new_sublime_project.sublime-project.json</string>
		<key>prefix</key>
		<string>new_sublime_project</string>
		<key>suffix</key>
		<string>sublime-project</string>
		<key>title</key>
		<string>Sublime Project</string>
		<key>uuid</key>
		<string>D004D30A-88ED-4D56-9075-B2AF7546A0EF</string>
	</dict>
	<dict>
		<key>enabled</key>
		<true/>
		<key>executable</key>
		<false/>
		<key>filePath</key>
		<string>RTFDocument.rtf</string>
		<key>prefix</key>
		<string>New RTF Document</string>
		<key>suffix</key>
		<string>rtf</string>
		<key>title</key>
		<string>Rich Text Document</string>
		<key>uuid</key>
		<string>A4861A08-1D00-4DD1-9936-2D3C46D3782A</string>
	</dict>
	<dict>
		<key>enabled</key>
		<true/>
		<key>executable</key>
		<false/>
		<key>filePath</key>
		<string>Pages.pages</string>
		<key>prefix</key>
		<string>Pages New Document</string>
		<key>suffix</key>
		<string>pages</string>
		<key>title</key>
		<string>Pages Document</string>
		<key>uuid</key>
		<string>77197CA3-ECBF-49EA-BA99-976075B5C545</string>
	</dict>
	<dict>
		<key>enabled</key>
		<true/>
		<key>executable</key>
		<false/>
		<key>filePath</key>
		<string>Numbers.numbers</string>
		<key>prefix</key>
		<string>New Numbers Document</string>
		<key>suffix</key>
		<string>numbers</string>
		<key>title</key>
		<string>Numbers Document</string>
		<key>uuid</key>
		<string>F1C4B8D3-F15A-4549-AF0C-375EF12C7DC2</string>
	</dict>
	<dict>
		<key>enabled</key>
		<true/>
		<key>executable</key>
		<false/>
		<key>filePath</key>
		<string>Keynote.key</string>
		<key>prefix</key>
		<string>New Keynote Document</string>
		<key>suffix</key>
		<string>key</string>
		<key>title</key>
		<string>Keynote Document</string>
		<key>uuid</key>
		<string>CEEACA23-C4E0-4B3D-9841-AE61A1EEA9F7</string>
	</dict>
	<dict>
		<key>enabled</key>
		<true/>
		<key>executable</key>
		<false/>
		<key>filePath</key>
		<string>WordDocument.docx</string>
		<key>prefix</key>
		<string>New Word Document</string>
		<key>suffix</key>
		<string>docx</string>
		<key>title</key>
		<string>Word Document</string>
		<key>uuid</key>
		<string>82EACE6C-1FAD-42BB-B58B-60F3A3B82686</string>
	</dict>
	<dict>
		<key>enabled</key>
		<true/>
		<key>executable</key>
		<false/>
		<key>filePath</key>
		<string>ExcelDocument.xlsx</string>
		<key>prefix</key>
		<string>New Excel Document</string>
		<key>suffix</key>
		<string>xlsx</string>
		<key>title</key>
		<string>Excel Document</string>
		<key>uuid</key>
		<string>CCBE98B3-2852-473E-A0B3-8AA13868B68A</string>
	</dict>
	<dict>
		<key>enabled</key>
		<true/>
		<key>executable</key>
		<false/>
		<key>filePath</key>
		<string>PowerPointDocument.pptx</string>
		<key>prefix</key>
		<string>New PowerPoint Document</string>
		<key>suffix</key>
		<string>pptx</string>
		<key>title</key>
		<string>PowerPoint Document</string>
		<key>uuid</key>
		<string>D3771767-B861-4C9B-BC62-B3575D1C50FE</string>
	</dict>
	<dict>
		<key>enabled</key>
		<true/>
		<key>executable</key>
		<true/>
		<key>filePath</key>
		<string>script.zsh</string>
		<key>prefix</key>
		<string>script</string>
		<key>suffix</key>
		<string>zsh</string>
		<key>title</key>
		<string>Zsh Shell Script</string>
		<key>uuid</key>
		<string>01614ED1-87C0-40F6-90FE-DC3611A7C22E</string>
	</dict>
	<dict>
		<key>enabled</key>
		<true/>
		<key>executable</key>
		<true/>
		<key>filePath</key>
		<string>script.py</string>
		<key>prefix</key>
		<string>script</string>
		<key>suffix</key>
		<string>py</string>
		<key>title</key>
		<string>Python Script</string>
		<key>uuid</key>
		<string>7C432A53-1464-4307-B38B-E8234A2568FC</string>
	</dict>
	<dict>
		<key>enabled</key>
		<true/>
		<key>executable</key>
		<false/>
		<key>filePath</key>
		<string>LaTeX.tex</string>
		<key>prefix</key>
		<string>Document</string>
		<key>suffix</key>
		<string>tex</string>
		<key>title</key>
		<string>LaTeX Document</string>
		<key>uuid</key>
		<string>0562B73C-B50C-4D60-8985-6C68362E4EF1</string>
	</dict>
	<dict>
		<key>enabled</key>
		<true/>
		<key>executable</key>
		<false/>
		<key>filePath</key>
		<string>BlankDocument</string>
		<key>prefix</key>
		<string>NewFile</string>
		<key>suffix</key>
		<string></string>
		<key>title</key>
		<string>Blank Document</string>
		<key>uuid</key>
		<string>78F0394E-3DF3-40C1-9AA0-CC36C8E5CADF</string>
	</dict>
</array>
</plist>
